@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;
    background-color: #0D262D;
}

.conteudo {
    display: flex;
    align-items: center;
    height: 100vh;
}

.menu-principal {
    min-width: 350px;
    text-align: center;
    height: 100vh;
    background-color:lightgray;
}

h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    padding: 15px 0px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.menu-principal nav {
    display: inline-block;
    background-color: #fff;
    min-width: 100%;
}

.menu-principal a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #222;
    font-size: 1.3em;
    border-bottom: 1px solid black;
}

.menu-principal a:hover {
    background-color: rgba(79, 173, 219, .4);
}

#projeto{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}